{% extends "layout.html" %}

{% block title %}
Add More $
{% endblock %}


{% block main %}
<h2>{{ tableTitle }}</h2>
<table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Crawler Name</th>
          <th scope="col"><a href="#" onclick="runAll()">Run all <i class="fas fa-spider "></i></a></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for row in spiders %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td><a href="/crawler/{{row.id}}">{{ row.name }}</a></td>
            <td><button action='run/{{ row.id }}' type="button" class="actbtn btn btn-primary">Run </button></td>
            <td><button onclick="viewAll({{ row.id }})" type="button" class="btn btn-success">View Data</button></td>
            <td><button action='delspider/{{ row.id }}' type="button" class="actbtn btn btn-danger">Delete</button></td>
        </tr>
        {% endfor %}
      </tbody>
</table>
<button onclick="addNewCrawl()" type="button" class="btn btn-primary"> Add New</button>

<script>
    function addNewCrawl(){
        $.post({
            type: 'POST',
            url: '/api/addspider',
            contentType: "application/json",
            dataType: 'json',
            data: JSON.stringify({}),
            success: function(data){
                window.location.href = '/crawler/' + data.res;
            }
        });
    }

    function runAll(){
        $.post({
            type: 'POST',
            url: '/api/crawlall',
            contentType: "application/json",
            dataType: 'json',
            data: JSON.stringify({}),
            success: function(){}
        });
    }

    function viewAll(id){
        window.location.href = '/viewcollected/' + id;
    }

    $(".actbtn").each((index,element)=>{
        element.addEventListener("click",function(el){
            let attr = el.target.attributes["action"].nodeValue
            $.post({
                type: 'POST',
                url: '/api/' + attr,
                success: function(data){console.log(data)}
            });
        });
    });

    
</script>
{% endblock %}