{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<div class="login card m-5" style="width: 20rem;">
    <div class="login-text">
        <h2>Register</h2>
    </div>
    <div class="card-body p-4">
        <form action="/register" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <input autocomplete="off" class="form-control" name="email" placeholder="E-mail" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <div class="p-1" style="float: left;">
                <a href="/login">Login</a>
            </div>
            <button class="btn btn-primary" style="float: right;" type="submit">Register</button>
        </form>
    </div>
</div>

<style>
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.login-text{
    text-align: center;
    margin: 16px 8px 8px 8px;
}
</style>
{% endblock %}